<!DOCTYPE html>
<html lang="ko">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>IPFS</title>
</head>

<body>
    <h1>upload file to IPFS</h1>
    <form action="/upload" method="POST" enctype="multipart/form-data">
        <label>Filename</label>
        <input type="text" name="fileName">
        <br>
        <label>Upload File</label>
        <input type="file" name="file">
        <br>
        <input type="submit" value="Submit">
    </form>
</body>

</html>