.mint-container {
  background-color: rgb(26, 126, 213);
  width: 100%;
  display: flex;
}

.MintCard{
  display: flex;
  margin: auto;
  justify-content: center;
  height: 100vh;
  flex-direction: column;
}