body {
  width: 100%;
  /* height: 100%; */
  overflow-x: hidden;
  background: linear-gradient(90deg, #e9a667 0.52%, #f0e3a1 39.46%, #f0e3a1 70.47%, #e9a667 90%);
}

/* 폰트 */
@font-face {
  font-family: "Yfont1";
  src: url("./font/Y1.otf");
}
@font-face {
  font-family: "Yfont2";
  src: url("./font/Y2.ttf");
}
/* @font-face {
  font-family: "Yfont3";
  src: url("./font/YUniverse-L.otf");
}
@font-face {
  font-family: "Yfont4";
  src: url("./font/YUniverse-L.ttf");
} */

.wrapper {
  height: auto;
  min-height: 880px;
  font-family: "Yfont2";
  font-weight: 50;
}
.backG-left-img {
  position: absolute;
  width: 15%;
  z-index: -1;
}

.admin-outer-box {
  z-index: 3;
}

.backG-img-left {
  position: absolute;
  top: 0;
  width: 50%;
  height: 341px;
  z-index: -1;
}
.backG-img-right {
  position: absolute;
  top: 0;
  width: 50%;
  right: 0;
  height: 370px;
  z-index: -1;
}

.backG-right-img {
  position: absolute;
  right: 13%;
  top: -4%;
  z-index: -2;
}
.backG-right-img2 {
  position: absolute;
  right: -5%;
  /* opacity: 30%; */
  /* z-index: -1; */
  /* top: -4%; */
  z-index: -1;
}
/* .main-outer {
  width: 100%;
  height: 120%;
  background-image: url('./img/background/background11.png');
  background-repeat: no-repeat;
  background-size: cover;
  background-color: red;
} */

.mint-container {
  background-color: rgb(26, 126, 213);
  width: 100%;
  display: flex;
}

.mintdate-container {
  display: flex;
  justify-content: center;
}


.profile-inner {
  width: 80%;
}

.mint-wal-connect-btn {
  margin: 20px 0 10px 0;
  padding: 3px 3px;
}

.main-team-img-box {
  display: flex;
  color: rgb(31, 162, 31)
}

/* .whitelist {
  display: flex;
  justify-content: center;
  height: 100vh;
  flex-direction: column;
} */

.copy-icon {
  margin-left: 10px;
}

.copy-icon:hover {
  cursor: pointer;
  transform: scale(1.1);
}

.main-container {
  display: flex;
  /* flex-wrap: wrap; */
}

.main-team-container {
  margin-top: 200px;
  /* display: flex; */
  /* background-color: red; */
}

.main-button-container {
  position: relative;
  /* top: 50%; */
}

.main-col {
  /* background: blue; */
  /* display: flex; */
  /* flex-direction: column; */
  position: relative;
  /* margin-right: 30%; */
}

.main-img-col {
  /* background-color: #f6f698; */
  display: flex;
  flex-direction: row;
  padding-top: 130px;
  margin-left: 30px;
}


@media (max-width: 1300px) {
  .main-img-col {
    display: flex;
    flex-direction: column;
  }
}

@media (max-width: 970px) {
  .main-container {
    display: flex;
    flex-direction: column;
  }

  .main-img-col {
    margin-top: 120px;
  }

  .info-box {
    position: absolute;
    /* left: 10%; */
    display: flex;
    flex-direction: column;
    margin-right: 25%;
    width: 40%;
    text-align: center;
    /* margin-top: 10%; */
    /* padding: 120px 30px; */
    /* background-color: yellow; */
    /* flex-direction: row; */
  }
  /* body {
    background: red;
  } */
}


.FreeSale {
  /* background-color: blue; */
  margin-right: 30%;
  margin-left: 0%;
}

.profile-inner {
  width: 80%;
  /* color: rgb(236, 236, 115); */
}

.info-box {
  position: absolute;
  right: 1%;
  top: 0;
  display: flex;
  flex-direction: column;
  padding: 10px 10px;
  /* background-color: red; */
  padding-top: 30px;
  height:200px;
  z-index: 99;
  /* flex-direction: row; */
}

.mint-title {
  font-weight: 700;
}

.whitelist {
  display: flex;
  justify-content: center;
  width: 100%;
  height: 100%;
  /* background: rgb(243, 224, 224); */
  
  /* background: rgb(172, 237, 144); */
  padding: 10px 0px;
}
.mint-count-box {
  display: flex;
  align-items: center;
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 20px;
  /* border-bottom: 2px black solid; */
  /* background-color: rgb(144, 214, 32); */
}
.mint-info-row {
  margin-bottom: 10px;
}
.mint-img-container{
  width: 220px;
  height: 232px;
  background-color: white;
  margin-bottom: 20px;
  border-radius: 8px;
}
.mint-info-box {
  margin: 0px 15px;
  font-weight: 600;
  background: white;
  border-radius: 30px;
  /* border: 1px solid black; */
  padding: 10px 10px;
  font-size: 16px;
}
.mint-text {
  display: flex;
  align-items: center;
  justify-content: center;
}
.mint-title-box {
  margin-top: 20px;
  border-bottom: 3px solid black;
  margin-bottom: 20px;
}

/* .mint-count {
  padding-top:
} */

.freelist {
  display: flex;
  justify-content: center;
  /* background-color: rgb(161, 191, 236); */
  width: 100%;
  height: 100%;
  padding: 10px 0px;
}

.nav {
  background: "pink";
  /* opacity: 70%; */
}

.nav-item {
  color: black;
  text-decoration: none;
  margin-left: 30px;
  display: flex;
  font-weight: bolder;
  font-size: 20px;
}

.upload-img {
  display: none;
}

.upload-btn-box, .create-btn-box {
  margin: 0 0 10px 0;
}

.upload-btn, .create-btn {
  width: 120px;
  border-radius: 10px;
}

.upload-btn:hover, .create-btn:hover {
  background-color: rgb(145, 245, 212);
  font-weight: bold;
}

.modal-open {
  width: 100%;
  height: 8%;
}

.ButtonGroup{
  /* padding: 10px; */
  padding: auto;
  margin: 10px;
}

.button-group{
  padding: auto;
  margin: 10px;

}

.cardclass{
  margin: 10px;
  text-align: center;
  justify-content: center;
  align-items: center;
}

.Input_Gruop {
  height: 100px;
}

.mb-3{
  width: 50%;
}
.Cont{
  text-align: center;
  margin: 10px;
}

.cardnft{
  /* display: flex; */
  /* text-align: center; */
  /* justify-content: center; */
  width: 100%;
  height: 100%;
}

.father{
  display: flex;
  justify-content: center;

}

.CardGroup{
  width: 100%;
  display: flex;
  text-align: center;
  justify-content: center;
}

/*swap*/
.swap-header {
  font-weight: 600;
  font-size: 40px;
}

.select-box {
  width: 400px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  margin-top: 10%;
  /* border: 4px solid black; */
  padding: 10px 8px 10px 6px;
  background-color: white;
  border-radius: 30px;
  z-index: 2;
  box-shadow: 7px 7px;
}

.swap-select {
  /* background-color: red; */
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 10px;
}

.swap-ratio-outer {
  margin-bottom: 20px;
  display: flex;
  justify-content: center;
}

.swap-ratio-inner {
  padding: 3px 1px;
  border-radius: 10px;
  border: 3px solid black;
  /* background-color: rgb(8, 143, 136); */
  /* background-color: rgb(237, 129, 147); */
  background: linear-gradient(180deg, rgb(150, 146, 146) 0.51%, rgb(142, 137, 137) 0.52%, rgb(149, 128, 128) 49.46%, rgb(224, 134, 149) 53.47%, rgb(237, 129, 147) 100%);
  color: white;
  font-size: 18px;
  width: 50%;
  font-weight: bold;
}

.swap-ratio {
  margin: 10px 0px;
}

.swap-body{ 
  font-weight: 600;
  /* background: red; */
  width: 100px;
  height: 40px;
  display: flex;
  align-items: center;
}

.swapL-select, .swapR-select {
  width: 30%;
  text-align: end;
}

.swap-box {
  display: flex;
  /* width: 400px; */
  justify-content: center;
}

.swap-submit {
  /* width: 40%; */
  /* background-color: red; */
}

.swap-button {
  width: 80px;
  height: 30px;
  background: rgb(175, 173, 173);
  border: none;
  /* border: 2px solid black; */
  border-radius: 10px;
  font-size: 16px;
  font-weight: bold;
}

.swap-button:hover {
  transform: scale(1.05);
  /* font-weight: bold; */
}

.swap-token-icon {
  cursor: pointer;
  margin: 0px 20px;
  width: 20px;
  height: 20px;
}

.swap-token-icon:hover {
  transform: scale(1.2);
}

.klay-icon {
  width: 30px;
  margin: 0px 10px;
}
.browny-icon { 
  width: 33px;
  height: 45px;
  margin: 0px 10px;
}

.swap-amount-input, .swap-exchange {
  width: 140px;
  font-size: 17px;
  border-radius: 4px;
  border: 3px solid black;
  text-align: center;
  font-weight: bold;
  margin-right: 10px;
  margin-left: 10px;
}

.swap-amount-input-box {
  margin-bottom: 15px;
  /* background-color: red; */
}

.swap-amount-inner {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.swap-arrow {
  width: 30px;
}

.swap-text {
  font-size: 12px;
  /* color:blue */
  font-weight: bold;
}

/*Pagination*/
.pageA {
  margin-top: 300px;
}

.pageB {
  margin-top: 10px;
  /* margin-top: 200px; */
}
/*
NftCard
*/

.nftlist-select-all-button:hover{
  background-color: lightgray;
  transform: scale(1.05);
  /* font-weight: 550; */
}

.stake-button, .unstake-button{
  width: 50%;
  font-size: 20px;
  border-radius: 20px;
  /* background-color: #198754; */
  /* color: white; */
}

.stake-button:hover, .unstake-button:hover {
  transform: scale(1.03);
  font-weight: bold;
  background-color: #efb369;
  /* background-color: #198754; */
}

.stake-header {
  margin-bottom: 45px;
}
.myNFT-info-box {
  display: flex;
  justify-content: flex-end;
  /* background-color: blue; */
  /* display: flex; */
  /* justify-content: center; */
}
.nftlist-outer {
  margin-top: 15%;
}
.stake-box {
  width: 100%;
  padding: 0;
  /* margin: 0; */
  background-color: blue;
}

.stake-outer-box {
  display: flex;
  /* flex-direction: row; */
  background-color: lightgray;
  width: 100%;
}

#stake-checkbox {
  position: relative;
  /* top: 70px; */
  /* right: -240px; */
  width: 35px;
  height: 35px;
  z-index: 2;
  top: 20px;
  left: 10px;
  margin-top: -15.0%;
  /* transform: translate(50%, 50%) */
}

.nftcard-header {
  text-align: center;
  font-weight: bolder;
  font-size: 40px;
  /* margin: 10px 0 20px 0; */
}

/* .card-container {
  border-radius;
  background-color:  #f05385;
} */

.reward-box {
  /* background-color: red; */
  position: relative;
  right: 0;
  text-align: center;
  font-size: 17px;
  font-weight: 600;
  margin-bottom: 10px;
  margin-right: 20px;
  margin-top: 10px;
  /* color: yellowgreen; */
}

.reward-button {
  margin-left: 1%;
  font-size: 18px;
}

.slidediv {
  font-size: 5em;
  width: 350px;
  color: white;
  font-family: sans-serif;
  position: relative;
  top: 100px;
  left: 100px;
  animation: slide 2s ease-in-out;
}

@keyframes slide {
  from {
    /* 뒤에서 부터 날라온다 */
    left: -200px;
    opacity: 0;
  }
  to {
    left: 100px;
    opacity: 1;
  }
}

@keyframes disappear {
  from {
    left: 100px;
    opacity: 1;
  }
  to {
    left: -200px;
    opacity: 0;
  }
}

.slidediv{

}

.bakingImg1 img{
  width: 500px;
  height: 500px;
}

@media screen and (max-width:568px) {
  .slidediv {
    flex-direction: column;
    width: 100%;
    padding: 24px;
  }

  .bakingImg1 img{
    flex-direction: column;
  }
}

/*
MintCard
*/
.MintCard {
  margin-top: 5%;
}
/* the slides */
.slick-slide {
  margin: 0 10px;
}
/* the parent */
.slick-list {
  margin: 0 20px;
  /* background-color: black; */
  height: 450px;
}

.brownyLogo{
  display: flex;
  text-align: center;
}