body {
  width: 100%;
  overflow-x: hidden;
  background: linear-gradient(90deg, #e9a667 0.52%, #f0e3a1 39.46%, #f0e3a1 70.47%, #e9a667 90%);
}

/* 폰트 */
@font-face {
  font-family: "Yfont1";
  src: url("./font/Y1.otf");
}
@font-face {
  font-family: "Yfont2";
  src: url("./font/Y2.ttf");
}

.wrapper {
  height: auto;
  min-height: 985px;
  bottom: 0px;
  font-family: "Yfont2";
  font-weight: 500;
  margin: 0 auto;
  line-height: 1.6;
}

.backG-left-img {
  position: absolute;
  width: 15%;
  z-index: -1;
}

.admin-outer-box {
  z-index: 3;
}

.backG-img-left {
  position: absolute;
  top: 0;
  width: 50%;
  height: 341px;
  z-index: -1;
}

.backG-img-right {
  position: absolute;
  top: 0;
  width: 50%;
  right: 0;
  height: 370px;
  z-index: -1;
}

.backG-right-img {
  position: absolute;
  right: 13%;
  top: -4%;
  z-index: -2;
}

.backG-right-img2 {
  position: absolute;
  right: -5%;
  z-index: -1;
}

.not-whitelist {
  margin-top: -50px;
}

.mint-container {
  background-color: rgb(26, 126, 213);
  width: 100%;
  display: flex;
}

.mintdate-container {
  display: flex;
  justify-content: center;
}


.profile-inner {
  width: 80%;
}

.mint-wal-connect-btn {
  margin: 20px 0 10px 0;
  padding: 3px 3px;
}

.main-team-img-box {
  display: flex;
  color: rgb(31, 162, 31)
}

.copy-icon {
  width: 17px;
  height: 17px;
  margin-left: 5px;
}

.main-container {
  display: flex;
}

.main-team-container {
  margin-top: 200px;
}

.main-button-container {
  position: relative;
}

.main-col {
  position: relative;
}

.main-img-col {
  display: flex;
  flex-direction: row;
  margin-left: 30px;
}

@media (max-width: 1300px) {
  .main-img-col {
    display: flex;
    flex-direction: column;
  }
}

@media (max-width: 970px) {
  ::-webkit-scrollbar {
    display: none;
  }
 
  .main-container {
    display: flex;
    flex-direction: column;
  }

  .main-img-col {
    margin-top: 120px;
  }
  .nav-item {
    background: white;
    border-radius: 20px;
    border-bottom: 1px solid black;
  }
  .info-box {
    position: absolute;
    margin-right: 25%;
    width: 260px;
    bottom: 10px;
    right: 0; 
    text-align: center;
    font-size: 13px;
    transform: translate(150px, 0px);
  }
}

.FreeSale {
  margin-right: 30%;
  margin-left: 0%;
}

.profile-inner {
  width: 80%;
}

.info-box {
  position: absolute;
  right: 1%;
  top: 0;
  display: flex;
  flex-direction: column;
  padding: 10px 10px;
  padding-top: 30px;
  height:200px;
  z-index: 99;
}

.mint-title {
  font-weight: 700;
}

.whitelist {
  display: flex;
  justify-content: center;
  width: 100%;
  height: 100%;
  padding: 10px 0px;
}
.mint-count-box {
  display: flex;
  align-items: center;
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 20px;
}
.mint-info-row {
  margin-bottom: 10px;
}
.mint-img-container{
  width: 220px;
  height: 232px;
  background-color: white;
  margin-bottom: 20px;
  border-radius: 8px;
}
.mint-info-box {
  margin: 0px 15px;
  font-weight: 600;
  background: white;
  border-radius: 30px;
  padding: 10px 10px;
  font-size: 16px;
}
.mint-text {
  display: flex;
  align-items: center;
  justify-content: center;
}
.mint-title-box {
  margin-top: 20px;
  border-bottom: 3px solid black;
  margin-bottom: 20px;
  height: 43px;
}

.freelist {
  display: flex;
  justify-content: center;
  width: 100%;
  height: 100%;
  padding: 10px 0px;
}

.nav {
  background: "pink";
}

.nav-item {
  color: black;
  text-decoration: none;
  margin-left: 30px;
  display: flex;
  font-weight: bolder;
  font-size: 20px;
  text-align: center;
  justify-content: center;
}

.upload-img {
  display: none;
}

.upload-btn-box, .create-btn-box {
  margin: 0 0 10px 0;
}

.upload-btn, .create-btn {
  width: 120px;
  border-radius: 10px;
}

.upload-btn:hover, .create-btn:hover {
  background-color: rgb(145, 245, 212);
  font-weight: bold;
}

.modal-open {
  width: 100%;
  height: 8%;
}

.ButtonGroup{
  padding: auto;
  margin: 10px;
}

.button-group{
  padding: auto;
  margin: 10px;

}

.cardclass{
  margin: 10px;
  text-align: center;
  justify-content: center;
  align-items: center;
}

.Input_Gruop {
  height: 100px;
}

.mb-3{
  width: 50%;
}
.Cont{
  text-align: center;
  margin: 10px;
}

.cardnft{
  width: 100%;
  height: 100%;
}

.father{
  display: flex;
  justify-content: center;

}

.CardGroup{
  width: 100%;
  display: flex;
  text-align: center;
  justify-content: center;
}

/*swap*/
.swap-amount-input:before {
  content: '123';
}

.swap-input-text {
  display: inline;
  font-weight: bold;
}

.swap-header {
  position: relative;
  font-weight: 600;
  font-size: 40px;
  margin-bottom: 10px;
}

.select-box {
  width: 400px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  margin-top: 10%;
  padding: 10px 8px 10px 6px;
  background-color: white;
  border-radius: 30px;
  z-index: 2;
  box-shadow: rgb(193, 192, 192) 7px 7px;
}

.swap-select {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 10px;
}

.swap-ratio-outer {
  margin-bottom: 20px;
  display: flex;
  justify-content: center;
}

.swap-ratio-inner {
  padding: 3px 1px;
  border-radius: 10px;
  border: 3px solid black;
  background: linear-gradient(180deg, rgb(150, 146, 146) 0.51%, rgb(142, 137, 137) 0.52%, rgb(149, 128, 128) 49.46%, rgb(224, 134, 149) 53.47%, rgb(237, 129, 147) 100%);
  color: white;
  font-size: 18px;
  width: 50%;
  font-weight: bold;
}

.swap-ratio {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 5px 0px 5px;
}

.swap-body{ 
  font-weight: 600;
  width: 100px;
  height: 40px;
  display: flex;
  align-items: center;
}

.swapL-select, .swapR-select {
  width: 30%;
  text-align: end;
}

.swap-box {
  display: flex;
  justify-content: center;
}

.swap-button {
  width: 80px;
  height: 30px;
  background: rgb(175, 173, 173);
  border: none;
  border-radius: 10px;
  font-size: 16px;
  font-weight: bold;
}

.swap-button:hover {
  transform: scale(1.05);
}

.swap-token-icon {
  cursor: pointer;
  margin: 0px 20px;
  width: 20px;
  height: 20px;
}

.swap-token-icon:hover {
  transform: scale(1.2);
}

.klay-icon {
  width: 30px;
  margin: 0px 10px;
}
.browny-icon { 
  width: 33px;
  height: 45px;
  margin: 0px 10px;
}

.swap-amount-input, .swap-exchange {
  width: 95px;
  font-size: 14px;
  border-radius: 4px;
  border: 3px solid black;
  text-align: center;
  font-weight: bold;
  margin-right: 10px;
  margin-left: 10px;
}

.swap-amount-input-box {
  margin-bottom: 15px;
}

.swap-input-flex {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: auto;
}

.swap-amount-token {
  font-size: 15px;
  width: 40px;
}

.swap-amount-inner {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.swap-arrow {
  width: 30px;
}

.swap-text-box {
  margin-bottom: 2px;
}

.swap-user-token-outer {
  margin-bottom: 20px;
}

.swap-user-token-head-outer {
  display: flex;
  justify-content: center;
  margin-bottom: 4px;
}

.swap-user-token-header {
  padding: 2px 5px;
  background: lightblue;
  border-radius: 20px;
}

.swap-text {
  font-size: 12px;
  font-weight: bold;
}

.mywal-info-outer {
  display: flex;
  justify-content: center;
  margin-bottom: 5px;
}

.mywal-info {
  padding: 2px 5px;
  border-radius: 20px;
}

.mywal-header {
  font-size: 20px;
  background-color: lightblue;
  border-radius: 20px;
  margin-bottom: 5px;
}

.mywal-bal {
  font-size: 18px;
  margin-bottom: 2px;
}

.token-add-kaikas {
  cursor: pointer;
  position: absolute;
  align-items: center;
  bottom: 0px;
  right: 10px;
}

/*Pagination*/
.pageA {
  margin-top: 220px;
}

.pageB {
  margin-top: 10px;
}

/*
NftCard
*/
.nftlist-count-box {
  display: flex;
  justify-content: center;
}

.nftlist-count-inner-box {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  text-align: end;
  font-size: 16px;
  position: absolute;
  transform: translate(-11.5rem, -4.3rem);
  font-weight: bold;
  align-items: center;
  margin-top: 5px;
  text-shadow: -1px 1px 1px rgb(220, 196, 242);
}

.nftlist-select-all-button:hover{
  background-color: lightgray;
  transform: scale(1.05);
}

.stake-button, .unstake-button{
  width: 50%;
  font-size: 20px;
  border-radius: 20px;
}

.stake-button:hover, .unstake-button:hover {
  transform: scale(1.03);
  font-weight: bold;
  background-color: #efb369;
}

.stake-header {
  margin-bottom: 45px;
}
.myNFT-info-box {
  display: flex;
  justify-content: center;
}
.nftlist-outer {
  margin-top: 4%;
  margin: auto;
  width: 60%;
  background-color: white;
  padding: 35px 0px;
  border-radius: 20px;
}
.stake-box {
  width: 100%;
  padding: 0;
  background-color: blue;
}

.stake-outer-box {
  display: flex;
  opacity: 0.9;
  width: 100%;
  height: 90%;
}

#stake-checkbox {
  position: absolute;
  width: 35px;
  height: 35px;
  z-index: 2;
  top: 52px;
  left: 12px;
  margin-top: -19.0%;
}

.nftcard-header {
  text-align: center;
  font-weight: bolder;
  font-size: 40px;
}

.reward-box {
  position: relative;
  right: 0;
  text-align: center;
  font-size: 17px;
  font-weight: 600;
  margin-bottom: 10px;
  margin-right: 20px;
  margin-top: 10px;
}

.reward-button {
  margin-left: 2%;
  font-size: 18px;
}

    .Main {
        width: 31.25rem;
        min-height: 54.6875rem;
        margin: .625rem;
        border: .1875rem solid white;
        border-radius: 2.5rem;
        padding: .625rem .625rem;
        background: #F5FADB;
    }

    .InnerMain {
        display: flex;
        flex-wrap: wrap;
        justify-content: flex-start;
    }

    .Ncard {
        padding: .1875rem;
        margin: .325rem;
        margin-left: 1.6875rem;
        padding-top: 1.5625rem;
        background: rgb(232, 228, 200);
        border-radius: 0.75rem;
        text-align: center;
        cursor: pointer;
        height: 12.5rem;
    }

    .Ncard:hover {
        opacity: 1;
    }

    .card:hover {
        opacity: 1;
        transform :scale(1.05);
    }

    .card:hover  button{
        opacity: 1.0;
    }

    .nftcardbutton{
        position: relative;
        display: flex ;
        justify-content: center ;
        bottom: 12.5rem;
    }

    .spaan {
        background-color: pink ;
        opacity: 0;
    }

    .containerCard {
        width: 100%;
        height: 100%;
        background-color: gray;
        border-radius: 8px;
    }

    .col_1 {
        color: blue;
    }

    .col_2 {
        color: pink;
    }

    .width1 {
        width: 100% ;
    }
    .width2 {
        width: 100% ;
    }

    .rel{
        background-color: red;
        position: absolute;
        transform: translate(150%, 150%);
    }

    .cont21 {
        display: flex ;
        justify-content: center;
        margin: .625rem 0rem;
        padding-bottom: .625rem;
        border-bottom: .0625rem solid black;
    }

    .nftlist {
        text-align: center;
        border-radius: .1875rem;
        border-top-left-radius: .625rem;
        border-bottom-right-radius: .625rem;
        width: 80%;
        padding: .3125rem;
        background: lightgray;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }

    .nftlist-id-box {
        width: 4rem;
        margin: .37rem .35rem;
        background: white;
        border-radius: 1.875rem;
        font-size: .9375rem;
        text-align: center;
        font-weight: bold;
        cursor: pointer;
    }

    .nftlist-id-box:hover {
        transform: scale(1.1);
    }

    .nftlist-header {
        font-size: 1.5625rem;
    }
    .nftlist-text {
        text-align: center;
        border-radius: .1875rem;
        width: 80%;
        padding: .3125rem;
        background: lightgray;
    }

    .nftlist-box {
        margin: 0rem 1.875rem;
    }

    .nftlist-justify {
        display: flex;
        justify-content: center;
        margin-bottom: 1.25rem;
    }

    .nftlist-cancel {
        width: 2.5rem;
        height: 2.5rem;
    }

    .overlay {
        position: absolute;
        opacity: 0;
        display: flex;
        justify-content: center;
        text-align: center;
        transform: translate(0.825rem, -2.0625rem);
    }

    .nftlist-id-box:hover .overlay{
        position: absolute;
        opacity: 1;
    }

    .nftlist-select-all {
        display: flex;
        justify-content: flex-end;
        margin-bottom: .3125rem;
        margin-right: 3.125rem;
        align-items: center;
    }
    
    .nftlist-select-all-button {
        border-radius: .625rem;
        cursor: pointer;
    }

    .nftlist-select-all-text {
        margin-top: .625rem;
        background: blue;
    }

    .nftlist-select-all-checkbox {
        margin-right: .1875rem;
    }

    .nftlist-card-img {
        border-radius: 5rem;
    }
    .nftlist-card-detail {
      margin-top: -0.7rem;
    }

    .no-display {
        position: absolute;
        transform: translate(3.4375rem, 19.0625rem);
    }


/*main slide animation*/

.slidediv {
  font-size: 7em;
  width: 350px;
  font-family: sans-serif;
  position: relative;
  top: 30px;
  /* visibility: hidden; */
  animation: slide 2s ease-out;
  letter-spacing: .05em;
  text-shadow: 
    4px 4px 0px #d5d5d5, 
    7px 7px 0px rgba(0, 0, 0, 0.2);
}

.refresh-reward-icon, .change-nickname-icon{
  cursor: pointer;
  margin: 0px 10px;
  width: 20px;
  height: 20px;
}

.change-nickname-icon {
  animation-duration: 3s;
}

.add-BTK-icon {
  position: relative;
  left: 9px;
  bottom: 16px;
  width: 13px;
  height: 13px;
}

@keyframes slide {
  from {
    /* 뒤에서 부터 날라온다 */
    left: -250px;
    opacity: 0;
  }
  to {
    left: 0px;
    opacity: 1;
  }
}

@keyframes disappear {
  from {
    left: 100px;
    opacity: 1;
  }
  to {
    left: -200px;
    opacity: 0;
  }
}

.bakingImg1 img{
  width: 500px;
  height: 500px;
}

@media screen and (max-width:568px) {
  .slidediv {
    flex-direction: column;
    width: 100%;
    padding: 24px;
  }

  .bakingImg1 img{
    flex-direction: column;
  }
}

/* MintCard */
.MintCard {
  margin-top: 5%;
}
/* the slides */
.slick-slide {
  /* margin: 0 10px; */
}
/* the parent */
.slick-list {
  height: 450px;
}

.brownyLogo{
  display: flex;
  text-align: center;
}

.nftlist-reward {
  display: flex;
  align-items: center;
  white-space: nowrap;
}

/* Collection */

 .brown {
  color:rgb(142, 83, 83);
 }

 .toggle {
  width: auto;
  background: rgb(151, 223, 220);
  padding: 3px 5px;
  border-radius: 10px;
}

.bgDiv {
  min-width: 150px;
}

.collection-info-outer {
  display: flex;
  justify-content: flex-end;
}

.collection-info-box {
  font-size: 18px;
  text-align: end;
  width: 200px;
  margin-right: 50px;
}

.collection-last-row {
  justify-content: flex-start;
}

/*Vote*/

.vote-table {
  width: 100%;
  z-index: 4;
}

.vote-table-header {
  background: white;
}

.table-title {
  display: flex;
  align-items: center;
  width: 100%;
  padding-left: 4%;
  font-size: 17px;
}

.table-writer {
  width: 100px;
}

.table-date {
  width: 150px;
}

.table-view {
  width: 60px;
 }

 .table-icon {
  width: 6px;
  height: 6px;
  margin-right: 10px;
 }

 .title {
  cursor: pointer;
 }

 .title:hover {
  text-decoration: solid underline 3px;
 }

 td {
  padding: 0 10px;
  border-bottom: 1px solid lightgray;
  font-size: 17px;
 }

.table-view, .table-writer, .table-date {
  text-align: center;
  justify-content: center;
}
.title-flex {
  padding-left: 30px;
}

th {
  background-color: pink;
  border-bottom: 1px solid black;
  font-size: 20px;
}


/*AlertModal*/
.alert-modal {
  width: auto;
  left: 41%;
  top: -5%;
  min-width: 350px;
}
.modal-header {
  height: 30px;
}
.modal-body {
  padding-top: 10px;
  font-size: 16px;
  background-color: rgb(243, 237, 237);
}
.modal-footer {
  display: flex;
  align-items: center;
  max-height: 40px;
}
.modal-btn {
  font-size: 14px;
  padding: 2px 5px;
  transform: translate(-122px, -10px);
}

/* footer */
.foot-img {
  color: rgb(214, 210, 210);
  width: 102%;
  height: 500px;
  position: absolute;
  z-index: -1;
  transform: translate(0, -370px);
  z-index: -1;
}

.fContainer_right_content {
  border-radius: 20px;
  padding: 10px;
}

/* noPage */
.no-page {
  position: relative;
  top: 25rem;
  display: flex;
  justify-content: center;
  font-size: 80px;
}
 