/* Header */

.nav {
    background: "pink";
  }

.nav-item {
    color: black;
    text-decoration: none;
    margin-left: 30px;
    display: flex;
    font-weight: bolder;
    font-size: 20px;
    text-align: center;
    justify-content: center;
}

.backG-img-left {
    position: absolute;
    top: 0;
    width: 50%;
    height: 341px;
    z-index: -1;
}

.backG-img-right {
    position: absolute;
    top: 0;
    width: 50%;
    right: 0;
    height: 370px;
    z-index: -1;
}

.mint-wal-connect-btn {
    margin: 20px 0 10px 0;
    padding: 3px 3px;
}

.info-box {
    position: absolute;
    right: 1%;
    top: 0;
    display: flex;
    flex-direction: column;
    padding: 10px 10px;
    padding-top: 30px;
    height:200px;
    z-index: 99;
}

.change-nickname-icon {
    animation-duration: 3s;
    cursor: pointer;
    margin: 0px 10px;
    width: 20px;
    height: 20px;
}

/* Footer */

.foot-img {
    color: rgb(214, 210, 210);
    width: 102%;
    height: 500px;
    position: absolute;
    z-index: -1;
    transform: translate(0, -370px);
    z-index: -1;
}
  
.fContainer_right_content {
    border-radius: 20px;
    padding: 10px;
}